


/*Navigation menu*/

nav.navbar{
	position: absolute;
	top:  0; 
	right: 0;
	left: 0;
	background: #d35400;
}
div.navbar-collapse{
	justify-content: flex-end;

	
}


/*HEADER*/

div.relative{
	position: relative;

}
 img.banner-img{
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -5;
 }

 


